.ContactList {
    ul {
        margin: 5px;
        input[type=checkbox] {
            vertical-align: middle;
        }
        li {
            text-align: left;
            padding: 5px;
            border-bottom: 1px solid #ffeed0;
        }
        li::marker {
            content: '';
        }
        padding-left: 0;
    }
    h3 {
        margin-bottom: 5px;
    }
    button {
        margin: 5px;
    }
    display: inline-block;
    border: 1px solid salmon;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
}