$paddingSize: 20px;
.Bill {
    &.active {
        border-width: 3px;
        border-color: salmon;
        padding: $paddingSize - 2px;
        box-shadow: 0 0 10px salmon, inset 0 0 10px gold;
    }
    &.paid-out {
        opacity: .8;
        order: 2;
        background: #FFCFBC;
        color: #333;
        transition: order 1s;
    }
    ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        li::marker {
            content: '';
        }
    }
    input[readonly] {
        border: none;
        &:focus-visible {
            outline: none;
        }
    }
    h1,
    h2,
    h3,
    h4 {
        border-bottom: 1px solid darksalmon;
        margin: 20px;
        padding-bottom: 20px;
    }
    input {
        font: inherit;
        text-align: right;
        vertical-align: middle;
        padding: 0;
        border: none;
    }
    input:not([type=checkbox]) {
        outline: 1px solid salmon;
    }
    .action-buttons-row {
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        gap: 5px;
    }
    order: 1;
    border: 2px solid darksalmon;
    border-radius: 20px;
    margin: 5px;
    padding: $paddingSize;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    box-shadow: inset 0 10px 20px beige;
}

.dateCreated {
    font-size: medium;
    display: flex;
    align-items: flex-end;
    flex: 1;
}